@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

:root {
  --darker: #18230F;
  --dark: #27391C;
  --light: #255F38;
  --lighter: #1F7D53;
  --accent: #A8D58B;
  /* アクセントカラーを追加 */
  --text-color: #f0f0f0;

  --button: #C2E5FF;
  --button-hover: #7DC7FF;
  --button-select: #808080;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: cursive;

  /* 色が流れるようなアニメーション背景 */
  background: linear-gradient(135deg, var(--darker), var(--dark), var(--light), var(--lighter));
  background-size: 400% 400%;
  animation: gradient-flow 15s ease infinite;
}
